/* OMG! SMACKDOWN!!! */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 43, ../../compass/sass/screen.scss */
input[type="number"] {
  -webkit-apperance: none;
}

/* line 47, ../../compass/sass/screen.scss */
input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea, select {
  background: #fff;
  border: 1px solid #ccc;
  color: #777;
  display: block;
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 100%;
  outline: none;
  padding: 6px 4px;
  width: 210px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 62, ../../compass/sass/screen.scss */
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, textarea:focus, select:focus {
  border: 1px solid #aaa;
  color: #444;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* line 70, ../../compass/sass/screen.scss */
select {
  padding: 0;
  width: 220px;
}

/* line 75, ../../compass/sass/screen.scss */
textarea {
  min-height: 60px;
}

/* line 79, ../../compass/sass/screen.scss */
input[type="checkbox"] {
  display: inline;
}

/* line 83, ../../compass/sass/screen.scss */
.error {
  margin-bottom: 0;
  color: #ff857b;
}

/* line 91, ../../compass/sass/screen.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url("/img/_ui/bg.png");
}

/* line 96, ../../compass/sass/screen.scss */
#banner {
  width: 100%;
  border-top: 4px solid #2493c8;
  background: #97d4ec url("/img/_ui/header-bg.png") repeat-x;
}
/* line 101, ../../compass/sass/screen.scss */
#banner header {
  _width: 61em;
  max-width: 61em;
  margin: 0 auto;
  padding: 0;
  clear: both;
  text-align: center;
  line-height: 0;
}

/* line 112, ../../compass/sass/screen.scss */
#arenaverse {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  margin-bottom: 1.5em;
  -webkit-box-shadow: 0 4px 0 0 #ffb57b;
  -moz-box-shadow: 0 4px 0 0 #ffb57b;
  box-shadow: 0 4px 0 0 #ffb57b;
  background: white;
}
/* line 38, ../../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#arenaverse:after {
  content: "";
  display: table;
  clear: both;
}

/* line 129, ../../compass/sass/screen.scss */
a {
  text-decoration: none;
  color: #2493c8;
}
/* line 133, ../../compass/sass/screen.scss */
a:hover {
  color: #ffb57b;
}

/* line 139, ../../compass/sass/screen.scss */
h1 {
  font-size: 3.125em;
  line-height: 0.48em;
  font-family: Bangers, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 0.48em;
  color: #ffb57b;
  text-shadow: #ffeee1 3px 3px 0;
}
/* line 148, ../../compass/sass/screen.scss */
h1 a {
  font-size: 0.32em;
  line-height: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: none;
  margin-left: 20px;
}

/* line 156, ../../compass/sass/screen.scss */
h2 {
  font-size: 1.875em;
  line-height: 0.8em;
  font-family: Bangers, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0.8em;
  color: #2493c8;
  text-shadow: #97d4ec 2px 2px 0;
  letter-spacing: 3px;
}

/* line 165, ../../compass/sass/screen.scss */
p {
  margin-bottom: 1.5em;
}

/* line 169, ../../compass/sass/screen.scss */
#logo-link {
  height: 96px;
}

/* line 173, ../../compass/sass/screen.scss */
hr {
  margin-bottom: 1.5em;
  border-bottom: 2px dotted #ffb57b;
  border-top: none;
  clear: both;
}

/* line 180, ../../compass/sass/screen.scss */
nav {
  overflow: hidden;
  *zoom: 1;
  background: #e2fbe9;
  line-height: 1;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
/* line 186, ../../compass/sass/screen.scss */
nav ul {
  list-style: none;
}
/* line 188, ../../compass/sass/screen.scss */
nav ul#utility {
  float: right;
}
/* line 191, ../../compass/sass/screen.scss */
nav ul li {
  display: block;
  float: left;
}
/* line 194, ../../compass/sass/screen.scss */
nav ul li a {
  display: block;
  padding: 1em;
  white-space: nowrap;
  width: auto;
}
/* line 200, ../../compass/sass/screen.scss */
nav ul li a:hover {
  background: #ffb57b;
  color: white;
}

/* line 209, ../../compass/sass/screen.scss */
#main {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background: white;
}

/* line 216, ../../compass/sass/screen.scss */
table td {
  padding-right: 1em;
}

/* line 221, ../../compass/sass/screen.scss */
form {
  margin-bottom: 1.5em;
}
/* line 224, ../../compass/sass/screen.scss */
form .control-group {
  margin-bottom: 1.5em;
}
/* line 227, ../../compass/sass/screen.scss */
form .control-group label {
  display: block;
}
/* line 231, ../../compass/sass/screen.scss */
form .control-group input[type=submit] {
  margin-top: 1.5em;
}

/* line 237, ../../compass/sass/screen.scss */
.help {
  font-size: 0.75em;
  line-height: 2em;
  color: #999;
  text-align: right;
}

/* line 244, ../../compass/sass/screen.scss */
.info {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
  background: #edf8fc;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/* line 253, ../../compass/sass/screen.scss */
.row {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 1.5em;
}

/* line 259, ../../compass/sass/screen.scss */
#new-fighter {
  margin-bottom: 1.5em;
}

/* line 263, ../../compass/sass/screen.scss */
.fight-text {
  text-align: center;
  font-family: "Nothing You Could Do", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2493c8;
  font-size: 1.875em;
  line-height: 0.8em;
  margin-top: 0.8em;
}

/* line 272, ../../compass/sass/screen.scss */
.fighter {
  text-align: center;
  background: #edf8fc url("/img/_ui/battle-bg.png") repeat-x;
  cursor: pointer;
}
/* line 277, ../../compass/sass/screen.scss */
.fighter:hover {
  background-color: #ffeee1;
}
/* line 281, ../../compass/sass/screen.scss */
.fighter img {
  vertical-align: middle;
}

/* line 286, ../../compass/sass/screen.scss */
#fighters {
  overflow: hidden;
  *zoom: 1;
}
/* line 289, ../../compass/sass/screen.scss */
#fighters div.fighter {
  width: 23.729%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}
/* line 292, ../../compass/sass/screen.scss */
#fighters div.fighter:last-child {
  width: 23.729%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 297, ../../compass/sass/screen.scss */
#fighters div.fighter .card {
  text-align: center;
  padding: 1em;
}
/* line 301, ../../compass/sass/screen.scss */
#fighters div.fighter .card .name {
  font-weight: bold;
  margin-bottom: 0.75em;
}
/* line 306, ../../compass/sass/screen.scss */
#fighters div.fighter .card .bio {
  color: #333;
  font-style: italic;
}
/* line 311, ../../compass/sass/screen.scss */
#fighters div.fighter .card .pic {
  width: 12em;
  height: 12em;
  line-height: 12em;
  margin-bottom: 0.75em;
}
/* line 317, ../../compass/sass/screen.scss */
#fighters div.fighter .card .pic img {
  max-width: 12em;
  max-height: 12em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 327, ../../compass/sass/screen.scss */
#battle {
  overflow: hidden;
  *zoom: 1;
}
/* line 330, ../../compass/sass/screen.scss */
#battle .fighter {
  width: 48.98%;
  float: left;
  margin-right: 2.041%;
  display: inline;
  height: 638px;
}
/* line 333, ../../compass/sass/screen.scss */
#battle .fighter:last-child {
  width: 48.98%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 337, ../../compass/sass/screen.scss */
#battle .fighter .pic {
  margin-bottom: 1.5em;
  line-height: 566px;
}
/* line 340, ../../compass/sass/screen.scss */
#battle .fighter .pic img {
  max-width: 352px;
}
/* line 345, ../../compass/sass/screen.scss */
#battle .fighter .name {
  font-size: 1.875em;
  line-height: 0.8em;
  font-family: Bangers, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  color: #2493c8;
  text-align: center;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

/* line 357, ../../compass/sass/screen.scss */
#minor-battles {
  overflow: hidden;
  *zoom: 1;
  text-align: center;
}
/* line 360, ../../compass/sass/screen.scss */
#minor-battles .battle {
  margin-top: 3em;
  width: 48.98%;
  float: left;
  margin-right: 2.041%;
  display: inline;
}
/* line 363, ../../compass/sass/screen.scss */
#minor-battles .battle:last-child {
  width: 48.98%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 367, ../../compass/sass/screen.scss */
#minor-battles .battle .fighter {
  width: 50%;
  float: left;
  height: 288px;
}
/* line 372, ../../compass/sass/screen.scss */
#minor-battles .battle .fighter .pic {
  line-height: 192px;
  margin-bottom: 1.5em;
}
/* line 377, ../../compass/sass/screen.scss */
#minor-battles .battle .fighter .name {
  font-size: 1.25em;
  line-height: 1.2em;
  font-family: Bangers, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  color: #2493c8;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

/* line 389, ../../compass/sass/screen.scss */
#battles {
  width: 83.051%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}

/* line 393, ../../compass/sass/screen.scss */
#secondary {
  text-align: center;
  width: 15.254%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 397, ../../compass/sass/screen.scss */
#secondary img {
  max-width: 144px;
}
/* line 401, ../../compass/sass/screen.scss */
#secondary h2 {
  color: #88efa5;
  text-shadow: none;
  margin-top: 0.8em;
}
/* line 407, ../../compass/sass/screen.scss */
#secondary .ratio-card {
  margin-bottom: 1.5em;
}

/* line 413, ../../compass/sass/screen.scss */
.listing td {
  padding: .5em;
  border-bottom: 1px solid #ffeee1;
}

/* line 420, ../../compass/sass/screen.scss */
#admin h1 {
  text-align: left;
}

/* line 424, ../../compass/sass/screen.scss */
#edit-arena {
  width: 49.153%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  border-left: 2px dotted #ffb57b;
  padding-left: 16px;
  margin-left: -18px;
}

/* line 431, ../../compass/sass/screen.scss */
#new-fighter {
  width: 49.153%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}

/* line 435, ../../compass/sass/screen.scss */
.new-arena {
  background: #2493c8;
  color: #edf8fc;
  display: inline-block;
  padding: 5px 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 442, ../../compass/sass/screen.scss */
.new-arena:hover {
  -webkit-box-shadow: 0 2px 0 0 #ffb57b;
  -moz-box-shadow: 0 2px 0 0 #ffb57b;
  box-shadow: 0 2px 0 0 #ffb57b;
}
